<%- include('partials/_htmlhead'); -%>

    <h2>
        <%= title %>
    </h2>
    <form class="form-group" action="/add_new_supplier" , method="post">

        <% if(typeof message !="undefined" && message) { %>
            <%if (!add_successful) { %>
                <div class="alert alert-danger" role="alert">
                    <%= message %>
                </div>
            <%} else{ %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
            <% } %>
        <%} %>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>

        <label for="bank">Bank Account Number:</label><br>
        <input type="number" id="bank" name="bank"><br>

        <label for="tax">Tax Serial Number:</label><br>
        <input type="number" id="tax" name="tax"><br>

        <label for="partner">Partner ID:</label><br>
        <input type="number" id="partner" name="partner"><br>

        <input type="submit" value="Add New Supplier">
    </form>
    <%- include('partials/_htmlfoot'); -%>