<%- include('partials/_htmlhead'); -%>

<h2><%= title %></h2>

<!-- Report Table -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Order Code</th>
      <th>Customer Name</th>
      <th>Customer Phone Number</th>
      <th>Order Time</th>
      <th>Process Time</th>
      <th>Category Name</th>
      <th>Color</th>
      <th>Bolt Count</th>
      <th>Total price</th>
      <th>Debt amount</th>
      <th>Status</th>
      <th>Reason</th>
      <th>Opcode</th>
      <th>Operator name</th>
    </tr>
  </thead>
  <tbody>
    <% for (let row of report1) { %>
    <tr>
      <td><%= row.order_code %></td>
      <td><%= row.customer_name %></td>
      <td><%= row.customer_phone %></td>
      <td><%= row.order_datetime.toLocaleString() %></td>
      <td><%= row.process_datetime.toLocaleString() %></td>
      <td><%= row.cat_name %></td>
      <td><%= row.color %></td>
      <td><%= row.bolt_count %></td>
      <td><%= row.total_price %></td>
      <td><%= row.debt_amount %></td>
      <td><%= row.status %></td>
      <td><%= row.reason %></td>
      <td><%= row.opcode %></td>
      <td><%= row.operator_name %></td>
    </tr>
    <% } %>
  </tbody>
</table>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Order Code</th>
      <th>Customer Code</th>
      <th>Customer Name</th>
      <th>Order Time</th>
      <th>Pay Time</th>
      <th>Type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% for (let row of report2) { %>
    <tr>
      <td><%= row.order_code %></td>
      <td><%= row.customer_code %></td>
      <td><%= row.customer_name %></td>
      <td><%= row.order_datetime.toLocaleString() %></td>
      <td><%= row.pay_datetime.toLocaleString() %></td>
      <td><%= row.type %></td>
      <td><%= row.amount %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<%- include('partials/_htmlfoot'); -%>
